<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form action="#" th:action="@{/greeting}" th:object="${select}" method="post" id="region">
    <select th:field="*{region}" form="region">
        <option th:each="i : ${options}" th:value="${i}" th:text="${i}">
        </option>
    </select>
    <p>Start: <input type=datetime-local th:field="*{start}" min="2012-01-01T00:00" max="2012-12-31T23:00"/></p>
    <p>End: <input type=datetime-local th:field="*{end}" min="2012-01-01T00:30" max="2012-12-31T23:30"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

</body>
</html>