<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
    <title></title>

</head>
<style>
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
</style>
<body>
<div th:text="'Графіки та діаграми у регіоні ' + ${region}"></div>
<div th:text="'За період з ' + ${start} + ' по ' + ${end}"></div>
<div id="lineChart"></div>
<div id="barChartTemp"></div>
<div id="windRose" style="max-width: 500px;height: 560px;margin: 0px auto;"></div>
<div id="barChartWind"></div>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.jscharting.com/latest/jscharting.js"></script>
<script type="text/javascript" src="https://code.jscharting.com/latest/modules/types.js"></script>

<script th:inline="javascript">
    $(function () {
        lineChart();
        barChartTemp();
        var wind = [[${dataForWindRose}]];
        let data = JSC.csv2Json(wind);
        windRose(data);
        barChartWind();
    });

    function getData() {
        var arr = [];
        var dates = [[${datesArray}]];
        var temps = [[${tempsArray}]];
        for (let i = 0; i < dates.length; i++) {
            arr[i] = ([dates[i], temps[i]]);
        }
        return arr;
    }

    function lineChart() {
        Highcharts.chart('lineChart', {
            chart: {
                type: 'line',
                zoomType: 'x'
            },
            title: {
                text: 'Графік температурних умов регіону'
            },
            xAxis: {
                type: 'datetime',
                title: {
                    text: 'Дата'
                }
            },
            yAxis: {

                title: {
                    text: 'T - °C'
                }
            },

            series: [{
                data: getData(),
                lineWidth: 0.5,
                name: ''
            }]

        });
    }

    function barChartTemp() {
        Highcharts.chart('barChartTemp', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Діаграма тривалості температурних режимів'
            },
            xAxis: {
                categories: [[${countTemps.keySet()}]],
                crosshair: true,

                title: {
                    text: 'T - °C'
                }
            },
            yAxis: {
                title: {
                    text: 'час, год'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f} hours</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            series: [{
                data: [[${countTemps.values()}]],
                name: ''
            }]
        });
    }

    function barChartWind() {
        Highcharts.chart('barChartWind', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Діаграма тривалості режимів вітрової активності'
            },
            xAxis: {
                categories: [[${countWindSpeeds.keySet()}]],
                crosshair: true,
                title: {
                    text: 'м/с'
                }
            },
            yAxis: {
                title: {
                    text: 'час, год'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.0f} hours</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            series: [{
                data: [[${countWindSpeeds.values()}]],
                name: ''
            }]
        });
    }

    function windRose(data) {
        var percentsCalm = [[${percentsCalm}]];
        var avgSpeed = [[${avgSpeed}]];
        return JSC.chart('windRose', {
            debug: true,
            type: 'radar column',
            animation_duration: 1000,
            title: {label_text: 'Троянда вітрів', position: 'center'},
            legend: {
                title_label_text: 'Швидкість вітру (у м/с)',
                position: 'bottom',
                template: '%icon %name',
                reversed: true
            },
            annotations: [
                {
                    label: {
                        text: 'Штиль: ' + percentsCalm + '%<br>Середня швидкість: ' + avgSpeed + ' м/c',
                        style_fontSize: 14
                    },
                    position: 'inside bottom right'
                }
            ],
            defaultSeries_shape_padding: 0.02,
            yAxis: {
                defaultTick_label_text: '%value%',
                scale: {type: 'stacked'},
                alternateGridFill: 'none'
            },
            xAxis: {
                scale: {range: [0, 360], interval: 45},
                customTicks: [
                    {value: 360, label_text: 'N'},
                    {value: 45, label_text: 'NE'},
                    {value: 90, label_text: 'E'},
                    {value: 135, label_text: 'SE'},
                    {value: 180, label_text: 'S'},
                    {value: 225, label_text: 'SW'},
                    {value: 270, label_text: 'W'},
                    {value: 315, label_text: 'NW'}
                ]
            },
            palette: [
                '#c62828',
                '#ff7043',
                '#fff176',
                '#aed581',
                '#80cbc4',
                '#bbdefb'
            ],
            defaultPoint: {
                tooltip: '<b>%seriesName</b> %xValue\xb0 %yValue%'
            },
            series: JSC.nest()
                .key('speed')
                .key('angle')
                .rollup('percent')
                .series(data)
                .reverse(),
        });
    }
</script>
</body>
</html>
